/* BOTÓN HAMBURGUESA (ESCONDE EN DESKTOP) */
.menu-toggle {
  display: none; /* Oculto por defecto */
  font-size: 2rem; /* Tamaño del ícono hamburguesa */
  background: none; /* Sin fondo */
  border: none; /* Sin bordes */
  cursor: pointer; /* Manito al pasar el mouse */
  margin-right: 1rem; /* Espacio entre el borde derecho */
}

/* RESPONSIVE: MÓVILES */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; 
    color: black;
  }

  .Menu-Horizontal {
    display: none; 
    flex-direction: column; 
    width: 100%;
    background-color: white;
    position: absolute;
    top: 5rem; 
    left: 0;
  }

  .Menu-Horizontal.active {
    display: flex; 
  }

  .Menu-Horizontal li {
    border-bottom: 1px solid #ccc; 
  }

  .Menu-Horizontal li a {
    
    color: rgb(100, 61, 17) !important;

    
    border: none;
    border-bottom: 1px solid #ddd; 
    border-radius: 0;

    
    display: block; 
    width: 100%;
    padding: 15px; 
    text-align: left; 
    background-color: white; 
  }

  
  .Menu-Horizontal li a:hover {
    background-color: #f2f2f2; 
    color: black !important;
    transform: none;
    box-shadow: none;
  }
}
